@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1519px;
  width: 65.5%; 
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/
/* get started start  */

.get-started {
  background-image: linear-gradient(to right , #524A76,#773C78);
  color: #fff;
}

.get-started .wrapper {
  padding: 13.2% 0 6.2%;
  display: flex;
}

.get-started h2,.get-started p {
  width: 89%;
}

.get-started h2 {
  font-size: 34px;
  font-weight: bold;
  line-height: 48px;
}

.get-started p {
  font-size: 17px;
  line-height: 24px;
  opacity: 0.6;
}

.welcome-header,.get-started-info {
  flex-basis: 50%;
}

.get-started-info {
  padding-left: 8.7%;
}

.get-started-info button {
  padding: 12px 33px;
  margin-top: 24px;
  border: 2px solid #49BD8B;
  border-radius: 20px;
  background-color: #49BD8B;
  color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
}

/* get started end  */
/* magna feugiat start  */
.magna-feugiat {
  border-bottom: 1px solid #000;
}

.magna-feugiat .wrapper {
  padding: 78px 0 70px;
  display: flex;
}

.magna-info,.magna-list {
  flex-basis: 50%;
  box-sizing: border-box;
}

.magna-info {
  padding-right: 5%;
  border-right: 1px solid black;
}

.magna-info h2 {
  font-size: 25px;
  font-weight: bold;
}

.magna-info p {
  margin-top: 36px;
  font-size: 14px;
  line-height: 24px;
}

.magna-info button {
  padding: 12px 36px;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: transparent;
  font-size: 11px;
  letter-spacing: 1px;
}

.magna-list {
  padding-left: 4.5%;
}

.magna-list ul {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
}

.magna-list ul li::before {
  content: "\f00c";
  margin-right: 9px;
  color: #4ABD8B;
  font-family: "fontAwesome";
}

/* magna feugiat end  */
/* ipsum pharetra loader start  */

  .ipsum-pharetra-loader {
    padding-bottom: 71px;
    margin-top: 72px;
    border-bottom: 1px solid;
  }

  .ipsum-pharetra {
    margin-top: 43px;
    align-items: center;
    display: none;
  }

  .ipsum-pharetra:nth-child(1),.ipsum-pharetra:nth-child(2),.ipsum-pharetra:nth-child(3) {
    display: flex;
  }

  .ipsum-pharetra figure {
    width: 397px;
  }

  .ipsum-pharetra-info {
    padding-left: 4.4%;
  }

  .ipsum-pharetra-info button {
    padding: 13px 36px;
    margin-top: 30px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .ipsum-pharetra p {
    margin-top: 30px;
    line-height: 28px;
    font-size: 15px;
  }

  .ipsum-pharetra h3 {
    font-size: 19px;
    font-weight: bold;
  }

  .load-button {
    text-align: center;
  }

  .load-more {
    margin-top: 44px;
    padding: 12px 74px;
    border: 1px solid;
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold;
}
  

/* ipsum pharetra loader end  */
/* orci malesauda start  */

.orci-malesauda {
  border-bottom: 1px solid;
}

.orci-malesauda .wrapper {
  display: flex;
  padding: 77px 0 70px;
}

.form,.contact-info {
  flex-basis: 50%;
  box-sizing: border-box;
}

.form {
  padding-right: 62px;
  border-right: 1px solid;
}

.form h3 {
  font-size: 22px;
  font-weight: bold;
}

.form p {
  margin-top: 36px;
  font-size: 13px;
  line-height: 26px;
}

form {
  margin-top: 29px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.name,.email {
  flex-basis: 46.7%;
  box-sizing: border-box;
}

.message {
  flex-basis: 100%;
}

.contact-info form input ,textarea {
  box-sizing: border-box;
}


input[type="text"],input[type="email"],textarea {
  width: 100%;
  padding: 9px 0 9px 16px;
  border: 1px solid #CCD0D3;
  font-size: 13px;
  box-sizing: border-box;
}

textarea {
  padding-bottom: 37px;
}

.submit {
  flex-basis: 100%;
  text-align: start;
}

input[type="submit"] {
  padding: 13px 36px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: transparent;
  color: #000;
  font-size: 11px;
  letter-spacing: 1px;
  transition: all ease-in-out 0.5s; 
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #1BBC9B;
}

.contact-info ul {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-left: 43px;
  row-gap: 21px;
}

.contact-info ul li a {
  color: #000;
}

.contact-info ul li a::before {
  content: "\f099";
  margin-right: 14px;
  font-family: "fontAwesome";
  color: #49BD8B;
} 

.address a{
  text-indent: -9999px;
}

.address {
  display: flex;
}

.address span {
  display: block;
}

.address .somewhere-road {
  display: inline-block;
}

.contact-info ul li:nth-child(2) a::before {
  content: "\f09a";
}

.contact-info ul li:nth-child(3) a::before {
  content: "\f16d";
}

.contact-info ul li:nth-child(4) a::before {
  content: "\f0e0";
}

.contact-info ul li:nth-child(5) a::before {
  content: "\f015";
  margin-right: 5px;
  float: right;
  text-indent: 0;
}

.contact-info ul li a:hover::before {
  color: #ffa500;
}

.address {
  line-height: 28px;
}

.nashville {
  margin-left: 24px;
}

/* orci malesauda end   */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer .wrapper {
  padding: 55px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  opacity: 0.7;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  .ipsum-pharetra,.orci-malesauda .wrapper,.magna-feugiat .wrapper {
    flex-direction: column;
    row-gap: 20px;
  }

  .form,.magna-info {
    border-right: none;
  }

}  